{
  "extends": ["@react-native-community"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }
    ],
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
